<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>
        兴趣点
        </title>
        <link rel="stylesheet" href="/stylesheets/jquery.mobile-1.1.1.min.css" />
        <style>
            /* App custom styles */
        </style>
        <script src="/javascripts/jquery.min.js">
        </script>
        <script src="/javascripts/jquery.mobile-1.1.1.min.js">
        </script>
        <script>
        </script>
    </head>
    <body>
        <!-- Home -->
<! ----------------------------------------------------------------------------------------------------------------- !>
        <div data-role="page" id="doctorsPage">
            <div data-theme="a" data-role="header">
                <h3>
                    兴趣列表
                </h3>
            </div>
            <div data-role="content">
            <ul data-role="listview" data-inset="true"  id="doctorslist">
            </ul>
            </div>
        </div>
                <script>
                </script>
    </body>
</html>
